/*
** Style Homepage
*/

/* GERAL */

* {
    font-family: "Inter Tight", sans-serif;
    border: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0 none;
    border: 0 none;
}

p {
    line-height: 1.5rem;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    overflow: hidden; 
    background-color: #d6d6d6;   
}

/* PAGE */

#page {
    width: calc(100% - 100px);
    height: 60vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 100px;
    box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.3);
}

#header {
    height: 100%;
    display: block;
    flex-shrink: 0;
}

#main {
    height: 100%;
    display: block;
    flex-shrink: 0;
}

/* COLUMNS */

.two-content {
    width: 800px;
    height: 100%;
    display: flex;    
}

.column-3 {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}

.column-7 {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}

/* NEXT PAGE BUTTON */

#link-next-page {
    background: none;
}

#link-next-page i {
    font-size: 2.5rem;
    color: #545454;
}

#link-next-page i:hover {
    color: #000000;
}

/* ROW TITLE DETAIL COLOR */

.detail {
    width: 70px;
    height: 2px;
    background-color: #ffffff;
}

/* IMAGE DETAIL */

#detail-image {
    width: 300px;
    margin: 0 auto;
    height: auto;
}

/* DESCRIPTION */

.description {
    margin: 0 30px;
}

/* BACKGROUNDS PAGE */

.background-1 .detail,
.background-5 .detail,
.background-6 .detail {
    background-color: #000000;
}

.background-1 {
    color: #545454;
    background-color: #ffe792;
}

.background-2 {
    color: #ffffff;
    background-image: url('../images/img-13.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.background-3 {
    color: #ffffff;
    background-color: #cd7654;
}

.background-4 {
    color: #ffffff;
    background-image: url('../images/img-14.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.background-5 {
    color: #545454;
    background-color: #c9daa4;
}

.background-6 {
    color: #545454;
    background-color: #8acbb5;
}

.background-7 {
    color: #ffffff;
    background-color: #e6546b;
}

.background-8 {
    color: #545454;
    background-color: #ffe792;
}

/* COLUMNS */

.one-column img,
.two-column img {
    height: 100%;
}

.one-column {
    width: 100%;
    height: auto;
    display: block;
}

.row-column {
    width: 100%;
    height: auto;
    display: flex;
}

.two-column {
    width: 50%;
    height: auto;
    display: block;
}

/* FORM */

#form {
    width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
    padding: 0 30px;
    border-right: 1px solid #545454;

}

#form .row-column {
    border: 0 none;    
}

#form label {
    padding: 10PX 0;
    font-weight: 700;
}

#form input,
#form textarea {
    color: #545454;
    padding: 5px 10px;
    border: 1px solid #545454;
    background: none;
    margin: 0;
}

#form input:focus,
#form textarea:focus,
#form button:focus {
    outline: 0 none;
    border: 1px solid #545454;
}

#form button {
    width: 200px;
    padding: 10px;
    font-weight: 700;
    background-color: #545454;
    border: 1px solid #545454;
    cursor: pointer;
    color: #ffe792;
    text-transform: uppercase;
}

#form button:hover {
    background: none;
    color: #545454;
}

#form input {
    width: calc(100% - 10px);
    height: 40px;
    margin-right: 40px;
}

#form textarea {
    width: calc(100% - 10px);
    height: 150px;
}

/* SOCIAL MEDIA */

.description .row-column {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #545454;
    margin: 5px 0;
}

.description .row-column:hover {
    text-decoration: underline;
}

.description span {
    width: 15px;
    height: 15px;
    padding: 10px;
    display: flex;    
    justify-content: center;
    align-items: center;
    background-color: #545454;
    border-radius: 50%;
    margin-right: 5px;
}

.description span i {
    font-size: 1.2rem;
    color: #ffe792;
}

/* MOBILE */

@media(max-width: 800px) {
    /* GERAL */
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
    }
    body {
        overflow: auto;
    }

    /* PAGE */

    #page {
        width: 100%;
        height: auto;
        flex-direction: column;       
        margin: 0;
        box-shadow: 0 none;
    }

    #header,
    #footer {
        width: 100%;
        height: auto;
        display: block;
    }

    /* IMAGE DETALIL */

    #detail-image {
        width: 250px;
        margin: 0 20px;
        height: auto;
    }

    /* COLUMNS */

    .two-content {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    #header .column-3 {
        padding: 0;
    }

    .column-3 {
        width: 100%;
        height: auto;
        min-height: 250px;
        margin: 0 auto;
        padding: 20px 0;
    }

    .column-7 {
        width: 100%;
        height: auto;
        min-height: 250px;
        margin: 0 auto;
    }

    /* NEXT PAGE BUTTON */

    #link-next-page {
        display: none;
    }

    /* FORM */

    #form {
        margin: 0 auto;
        border: 0 none;
    }

    #form label {
        margin: 20px 0;
    }

    #form input {
        margin-right: 0;
    }

    #form input,
    #form textarea {
        width: calc(100% - 40px)
    }

    #form button {
        width: calc(100% - 20px)
    }

    #form .row-column {
        gap: 0;
        display: block;
    }

    /* SOCIAL MEDIA */

    .description .row-column {
        justify-content: flex-start;
        align-items: center;        
    }
}
